@import "null.css";
/* =================================================================================================================== */
/* Если подключаем шрифты вручную */

/* @font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	}
	
	*/
	/* ================================================================================================================ */

	/* /* &display=swap - дописываем если нету (когда используем подгрузку шрифтов через @import/link */

	/* ================================================================================================================ */

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

[class*="__container"] {
	margin: 0px auto;
	max-width: 1024px;
}

body{
	font-family: "Lato", sans-serif;
}

